.row.center-xs
	=grid xs:10,sm:8,md:6,lg:4 do
		.white.mdl-shadow--2dp.top-space.relative
			.big-padding.white-text.text-left.cover.relative#user-cover{style:"background-image:url(#{@user.cover.url(:medium)})"}
				=render "usuarios/menu_avatar"
				.top-space#user-avatar
					.circle.cover{style:"height:100px;width:100px;background-image:url(#{@user.avatar.url(:thumb)})"}

			%section.border-bottom.top-space
				.row.middle-xs
					=grid class:"col-xs" do
						%h1.no-margin.medium
							%span= best_in_place_if current_user == @user,@user, :name
							%span= best_in_place_if current_user == @user,@user, :lastname		
						%p
							%span= best_in_place_if current_user == @user,@user, :username
			.top-space
				=form_for @user,remote: true do |f|z
					=f.file_field :avatar,class:"remotipart"
				=form_for @user, remote: true do |f|
					=f.file_field :cover,class:"remotipart"